@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.container-fluid .navbar-brand {
    color: white;
    font-weight: bold;
}

.container-fluid .navbar-brand:hover {
    color: white;
    font-weight: bold;
}

.navbar .container-fluid .collapse li a {
    color: white;
    opacity: 60%;
}

.navbar .container-fluid .collapse li a:hover {
    color: white;
    opacity: 100%;
}

.navbar .container-fluid .collapse li a::before {
    color: white;
}

#homeSection {
    display: grid;
    grid-template-rows: 10rem;
    justify-content: center;
    align-items: center;    background-size: cover;
    background-position: center;
    color: #000000;
}

#homeSection .card-grid-container {
    display: flex;
    column-gap: 20px;
}

#homeSection h2 {
    font-size: 3rem;
    margin-bottom: 10px;
}
#homeSection p {
    font-size: 1.5rem;
}